# Editor config from Quickstart
# qkst.io/dotfiles/editorconfig

root = true

[*]
end_of_line = lf
insert_final_newline = true

[*.md]
trim_trailing_whitespace = false

[*.js]
indent_style = space
indent_size = 2

[Makefile]
indent_style = tab
indent_size = 8

[*.{js}]
charset = utf-8
trim_trailing_whitespace = true
